@font-face {
	font-family: "Futura LT Book";
	src: url("FuturaLT-Bold.woff2") format("woff2"),
		url("FuturaLT-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "LeviMarker";
	src: url("LeviMarker.woff2") format("woff2"),
		url("LeviMarker.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Gotham";
	src: url("Gotham-Bold.woff2") format("woff2"),
		url("Gotham-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Gilton";
	src: url("Gilton-Bold.woff2") format("woff2"),
		url("Gilton-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
